<!-- this is the main page banner header -->

<p><a href="https://outs1der.github.io">
<img src="/images/banner.jpg" width=860></a></p>

<p> <img src="/images/spacer2.jpg" width=60 height=1>
  
<!-- menu row -->

  <a href="http://goto-observatory.org">GOTO</a> | <a href="http://burst.sci.monash.edu/minbar">MINBAR</a> | <a href="https://www.monash.edu/science/schools/physics/research/research-areas/astronomy-astrophysics">Monash astrophysics</a> | <a href="https://www.irenaweb.org">IReNA</a> | <a href="http://jinaweb.org">JINA-CEE</a> | <a href="http://igdore.org">IGDORE</a> | <a href="Duncan Galloway.vcf">vcard</a> | <a href="cv.html">CV</a> 
</p>

<img src="/images/separator.jpg" width=860>



<div id="content">

<div id="main"><div id="main2">

