<!-- schedule to be displayed in the page sidebar -->
<ul>

  <!-- February 14<sup>st</sup>&mdash;18<sup>th</sup>
    <a href="https://indico.frib.msu.edu/event/51">INT/JINA-CEE workshop
on neutron star cooling</a>, Seattle, WA (remotely) -->
  <!-- February 21<sup>st</sup>&mdash;23<sup>rd</sup> <a
href="https://astronomyaustralia.org.au/event/2022-australia-erosita_de-joint-collaboration-workshop">Australian/eROSITA_DE
Joint Collaboration Workshop</a> <em>online</em> -->
  <li>April 4<sup>th</sup>&mdash;7<sup>th</sup> <a href="https://phy.princeton.edu/events/gipcts-weather-and-climate-neutron-stars-connecting-surface-flow-theory-and-observations">Weather and Climate on Neutron Stars: Connecting Surface Flow Theory and Observations</a> GI/PCTS workshop, Princeton University, NJ </li>
  <li>May 16<sup>th</sup>&mdash;20<sup>th</sup> visiting <a href="https://inpp.ohio.edu/~inpp">INPP, Ohio University</a>, Athens, OH</li>
  <li>May 25<sup>th</sup>&mdash;27<sup>th</sup> <a href="https://indico.frib.msu.edu/event/28">JINA-CEE
    Frontiers in Nuclear Astrophysics</a> meeting, South Bend, IN, USA</li>
  <li>May 31<sup>st</sup>&mdash;June 3<sup>rd</sup> visiting <a href="https://nscl.msu.edu">NSCL, Michigan State University</a>, East Lansing, MI</li>
  <li>September 26<sup>th</sup>&mdash;30<sup>th</sup> <a href="https://agenda.infn.it/event/18651">PUMA22: Probing the Universe with Multimessenger Astrophysics</a>, Sestri Levante, IT</li>

</ul>
