<!-- schedule to be displayed in the page sidebar -->
<ul>

  <!-- February 14<sup>st</sup>&mdash;18<sup>th</sup>
    <a href="https://indico.frib.msu.edu/event/51">INT/JINA-CEE workshop
on neutron star cooling</a>, Seattle, WA (remotely) -->
  <!-- February 21<sup>st</sup>&mdash;23<sup>rd</sup> <a
href="https://astronomyaustralia.org.au/event/2022-australia-erosita_de-joint-collaboration-workshop">Australian/eROSITA_DE
Joint Collaboration Workshop</a> <em>online</em> -->
  <!-- April 4<sup>th</sup>&mdash;7<sup>th</sup> 
<a href="https://phy.princeton.edu/events/gipcts-weather-and-climate-neutron-stars-connecting-surface-flow-theory-and-observations">
Weather and Climate on Neutron Stars: Connecting Surface Flow Theory and Observations</a> 
GI/PCTS workshop, Princeton University, NJ </li> -->
  <!-- May 16<sup>th</sup>&mdash;20<sup>th</sup> visiting <a
href="https://inpp.ohio.edu/~inpp">INPP, Ohio University</a>, Athens, OH
-->
  <!-- May 25<sup>th</sup>&mdash;27<sup>th</sup> <a href="https://indico.frib.msu.edu/event/28">JINA-CEE
    Frontiers in Nuclear Astrophysics</a> meeting, South Bend, IN, USA -->
  <!-- May 31<sup>st</sup>&mdash;June 3<sup>rd</sup> visiting <a
href="https://nscl.msu.edu">NSCL, Michigan State University</a>, East
Lansing, MI -->
  <!-- September 26<sup>th</sup>&mdash;30<sup>th</sup> <a
href="https://agenda.infn.it/event/18651">PUMA22: Probing the Universe
with Multimessenger Astrophysics</a>, Sestri Levante, IT -->
  <!-- October 3<sup>rd</sup>&mdash;November 11<sup>th</sup> visiting <a
href="https://www.ru.nl/en/departments/institute-for-mathematics-astrophysics-and-particle-physics/astrophysics">Radboud
U.</a>, NL -->
  <!-- November 2<sup>nd</sup>&mdash;3<sup>rd</sup> <a href="https://wiki.mpe.mpg.de/eRosita/erosita_consortium_meeting_Nov22">eROSITA
consortium meeting</a>, Bamberg, DE -->
  <!-- November 23<sup>rd</sup>&mdash;25<sup>th</sup> <a href="https://www.ozgrav.org/2022-ozgrav-ecr-workshop-and-annual-retreat.html">OzGRav annual retreat</a>, Canberra, ACT -->
  <!-- December 5<sup>th</sup>&mdash;9<sup>th</sup> <a href="https://www.gwpaw2022.org">Gravitational Wave Physics & Astronomy Workshop</a>, Melbourne, VIC -->
  <!-- April 6<sup>th</sup>&mdash;21<sup>st</sup> commissioning <a href="http://goto-observatory.org">GOTO-South</a>, <a href="https://www.sidingspring.com.au">Siding Spring Observatory</a>, NSW</li> -->
  <!-- May&mdash;2024 January OSP visit to <a href="http://ru.nl">Radboud
University</a>, Netherlands</li> -->
  <!-- May 23<sup>rd</sup>&mdash;26<sup>th</sup> <a href="https://indico.frib.msu.edu/event/58">CeNAM Frontiers Meeting in Nuclear Astrophysics</a>, MSU, East Lansing MI, USA -->
  <!-- June 13<sup>th</sup>&mdash;16<sup>th</sup> <a href="http://xrayuniverse.esa.int">X-ray Universe '23</a> meeting, Athens, Greece -->
  <!-- June 19<sup>th</sup>&mdash;23<sup>rd</sup> <a href="https://astro.dur.ac.uk/vam2023">First Vasto Accretion Meeting</a>, Vasto, Italy -->
  <!-- December 18<sup>th</sup>&mdash;2024 January 5<sup>th</sup> on leave -->
  <!-- Jan 29<sup>th</sup>&mdash;Feb 2<sup>nd</sup> attending the <a
href="https://transientsdownunder.github.io">Transients Down Under</a>
meeting, Swinburne U., Melbourne -->
  <li>May 3<sup>rd</sup>&mdash;Jun 30<sup>th</sup> visiting <a href="https://www.esa.int/About_Us/ESTEC">ESTEC</a>, Noordwijk, NL</li>
</ul>
